---
import Layout from "../../layouts/Layout.astro";
import { isEmpty } from "../../util/isEmpy";
import Backdrop from "../../components/Backdrop.astro"
import Username from "./[username].astro";
export const prerender = false;
const senderEmail = Astro.cookies.get("senderEmail")?.value;
const recipientEmail = Astro.cookies.get("recipientEmail")?.value;
const projectTitle = Astro.cookies.get("projectTitle")?.value;
const projectID = Astro.cookies.get("projectID")?.value;
const customerName = Astro.cookies.get("customerName")?.value;
const customer = Astro.cookies.get("username")?.value;

if(isEmpty([Username]) ){
 return Astro.redirect('/projects')
}
---

<Layout title="contact">
 <Backdrop title={projectTitle + ''}/>
 <form id="contactForm" method="post" class="tex-gray-800 p-3">
  <div>
   <label for="email-recipient" class="block text-white text-sm font-bold"
    >Destinatario:</label
   >
   <input
    type="email"
    id="email-recipient"
    name="email-recipient"
    readonly
    value={recipientEmail}
    class="mt-1 block w-full rounded-md p-2 bg-slate-800"
    required
   />
  </div>
  <br />
  <div>
   <label for="email-sender" class="block text-white text-sm font-bold"
    >Remitente:</label
   >
   <input
    type="email"
    id="email-sender"
    readonly
    value={senderEmail}
    name="email-sender"
    class="mt-1 block w-full rounded-md p-2 bg-slate-800"
    required
   />
  </div>
  <br />
  <div>
   <label for="subject" class="block text-white text-sm font-bold"
    >Asunto:</label
   >
   <input
    type="text"
    id="subject"
    name="subject"
    class="mt-1 block w-full rounded-md p-2 bg-slate-800"
    value=`Aplicación para el Proyecto ${projectTitle}`
    required
   />
  </div>
  <br />
  <div>
   <label for="message" class="block text-white text-sm font-bold"
    >Mensaje:</label
   >
   <textarea
    id="message"
    name="message"
    rows="12"
    class="mt-1 block w-full rounded-md p-2 bg-slate-800 text-justify"
    required
   >Estimado/a {customerName}, Espero que este correo le encuentre bien. Mi nombre es [Nombre del Freelancer] y soy un/a [tu profesión o especialidad, por ejemplo, desarrollador web, diseñador gráfico, redactor, etc.]. {'\n\n'}Estoy muy interesado/a en su proyecto titulado {projectTitle} y me gustaría postularme para trabajar en él. Puede conocer más sobre mi experiencia y trabajos anteriores visitando mi perfil en el siguiente enlace: [URL del Perfil del Freelancer]. Considero que mis habilidades y experiencia se alinean perfectamente con los requisitos de su proyecto. Me especializo en [menciona brevemente tus habilidades relevantes y experiencias previas que se relacionan con el proyecto] y estoy seguro/a de que puedo contribuir de manera significativa a su equipo. Quedo a su disposición para cualquier pregunta adicional o para discutir más detalles sobre cómo puedo ayudar en su proyecto. {'\n\n'}Saludos cordiales, [Nombre del Freelancer] [Correo Electrónico del Freelancer] [Teléfono del Freelancer, opcional] [URL del Perfil del Freelancer]. {'\n\n'}Atentamente, [Nombre del Freelancer].</textarea>
  </div>
  <br />
  <div class="w-full flex justify-center">
   <button
    type="submit"
    class="flex-row text-2xl my3 text-white
   justify-center cursor-pointer hover:bg-slate-700
   focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50
   font-bold rounded-lg p-2.5 text-center
   inline-flex items-center dark:focus:ring-[#1da1f2]/55
   mr-2 hover:shadow-lg transition-all duration-200
   ease-in-out hover:scale-110 scale-90 gap-x-2
   opacity-90 hover:opacity-100"
    ><svg
     xmlns="http://www.w3.org/2000/svg"
     class="icon icon-tabler icon-tabler-brand-telegram"
     width="35"
     height="35"
     viewBox="0 0 24 24"
     stroke-width="1.5"
     stroke="currentColor"
     fill="none"
     stroke-linecap="round"
     stroke-linejoin="round"
    >
     <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
     <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
    </svg>Enviar</button
   >
  </div>
 </form>
</Layout>
